@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "tailwindcss-animate";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #FF5A5F;
  --color-secondary: #fca5a5;
  --color-dark: #1a1a1a;
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-100 font-sans transition-colors duration-300;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full hover:bg-red-600;
}